IOT-Flows.json
[{"id":"cd6b6c2f.fdc99","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"d05630d9.cd416","type":"ibmiot in","z":"cd6b6c2f.fdc99","authentication":"apiKey","apiKey":"d56adaa9.84dac8","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"1","applicationId":"","deviceType":"newnode","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":160,"y":80,"wires":[["7e2bd949.01d218","82faee54.ef036","85511d8f.83587","678be92e.12e628","fb74036c.e203b","c70dfcf1.34bec"]]},{"id":"7e2bd949.01d218","type":"debug","z":"cd6b6c2f.fdc99","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":360,"y":80,"wires":[]},{"id":"82faee54.ef036","type":"ui_gauge","z":"cd6b6c2f.fdc99","name":"","group":"465b4b7c.504254","order":0,"width":0,"height":0,"gtype":"gage","title":"Pulse","label":"units","format":"{{msg.payload.pulse}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":360,"y":160,"wires":[]},{"id":"85511d8f.83587","type":"ui_gauge","z":"cd6b6c2f.fdc99","name":"","group":"5737fae4.bc70f4","order":0,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"units","format":"{{msg.payload.temperature}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":380,"y":240,"wires":[]},{"id":"678be92e.12e628","type":"ui_gauge","z":"cd6b6c2f.fdc99","name":"","group":"4c85bd49.6079b4","order":0,"width":0,"height":0,"gtype":"gage","title":"HeartRate","label":"units","format":"{{msg.payload.heartrate}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":400,"y":320,"wires":[]},{"id":"fb74036c.e203b","type":"ui_gauge","z":"cd6b6c2f.fdc99","name":"","group":"3ef6be4a.e72b12","order":0,"width":0,"height":0,"gtype":"gage","title":"ECG","label":"units","format":"{{msg.payload.ECG}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":380,"y":400,"wires":[]},{"id":"c70dfcf1.34bec","type":"ui_gauge","z":"cd6b6c2f.fdc99","name":"","group":"bf9da6fe.ea49b8","order":0,"width":0,"height":0,"gtype":"gage","title":"EEG","label":"units","format":"{{msg.payload.EEG}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":360,"y":480,"wires":[]},{"id":"d56adaa9.84dac8","type":"ibmiot","z":"","name":"NewAPI","keepalive":"60","serverName":"huepjc.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"465b4b7c.504254","type":"ui_group","z":"","name":"Pulse","tab":"db93b901.a3ec88","order":1,"disp":true,"width":"6","collapse":false},{"id":"5737fae4.bc70f4","type":"ui_group","z":"","name":"Temperature","tab":"db93b901.a3ec88","order":2,"disp":true,"width":"6","collapse":false},{"id":"4c85bd49.6079b4","type":"ui_group","z":"","name":"Heartrate","tab":"db93b901.a3ec88","order":3,"disp":true,"width":"6","collapse":false},{"id":"3ef6be4a.e72b12","type":"ui_group","z":"","name":"ECG","tab":"db93b901.a3ec88","order":4,"disp":true,"width":"6","collapse":false},{"id":"bf9da6fe.ea49b8","type":"ui_group","z":"","name":"EEG","tab":"db93b901.a3ec88","order":5,"disp":true,"width":"6","collapse":false},{"id":"db93b901.a3ec88","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]